*{font-family: sans-serif;}
body{
    background-color: white;
    border: 3px solid black;
    width: 800px;
    box-shadow: 0 9px 18px 9px black;
    margin: auto;
}
html{
    background-image: url("../images/bats.gif");
    background-repeat: repeat;
}
/*Header*/
header{
    border-bottom: 3px solid black;
    background-image: linear-gradient(45deg, white 0%, #FFA500 75%, black 100%);
    padding: 1% 1.875%;
}
header img{
    float: left;
    margin: 0.1em;
    padding: 0.25em 0.75em 0.75em 0.25em;
}
header h2{
    font-size: 250%;
    text-indent: 1.5px;
    padding-top: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
}
header h3{
    font-size: 125%;
    text-indent: 1px;
    margin-top: 0;
    margin-bottom: 10px;
}
/*Main*/
main {
    margin-top: 0;
    margin-left: 0.25em;
    margin-bottom: 0;
    padding-bottom: 0;
}
section h2{
    text-align: center;
    margin-bottom: 5px;
}

section{
    float: left;
	width: 430px;
    padding: 0 20px 20px 20px;
}
table{
    width:430px;
    border-collapse: collapse;
    border-spacing: 0;
}
figure{
    margin: auto 0;
}
thead{
    text-align: left;
    color: gray;
}
th, td{
    padding: .2em 1em .2em .5em;
    text-align: left;
    vertical-align: middle;
}
.rowspan{
    vertical-align: top;
    font-weight: bold;
}
td.right{
    background-color: #F5DEB3;
}
.right{
    text-align: right;
    padding-right: 2px;
    margin-right: 14px;
    padding-left: 4px;

}
/*Footer*/
footer{
    border-top: 3px solid black;
    background-image: linear-gradient(45deg, black 0%, orange 25%, white 100%);
    clear:both;
    padding: 12px 0;
    text-align: center;
    font-size: 90%;
}

/* Horizontal menu */
#nav_menu ul li a.current{color: orange;}
#nav_menu ul {
    list-style: none;
    position: relative;
    padding: 0;
    margin: 0 ;
}
#nav_menu ul li { 
    float: left;
    width: 20%;
}
#nav_menu ul li a{
    color: white;
    text-align: center;
    text-decoration: none;
    display: block;
    padding: 1em 0;
    background-color: black;
    /*border-right: 2px solid black;*/
}
#nav_menu ul ul {
    display: none;
    position: absolute;
    top: 100%;
    width: 100%;
}
#nav_menu ul ul li { float: none;}
#nav_menu ul li a:hover{background-color: gray;}
#nav_menu ul li:hover > ul {
    display: block;
}
#nav_menu > ul::after {
   content: "";
   display: block;
   clear: both;
}

/* Vertical Menu LEFT*/
aside{
    margin-top: 25px;
    margin-left: 0;
    float: left;
    width: 160px;
}
aside ul{
    list-style-type: none;
    margin-top: 0;
    padding-left: 1.5em;
}
#nav_vertical ul li{
	width: 108px;
	margin-bottom: 0.5em;
	border: 2px solid black;
	padding: 0;
}
#nav_vertical ul li a {
	display:block ;
	text-decoration: none;
	padding: 0.5em 0.75em;
	color: black;
	font-size: 100%;
	background-color: #FFA500;
	font-weight: bold;
}
#nav_vertical ul li a:hover, #nav_vertical ul li a:focus{background-color:gray;}