header{
    border-bottom: 1px solid black;
    padding: 1% 1.875%;
}
header img{
    float: left;
    width: 50px;
    height: 70px;
}
#nav_menu ul li a.current{
    color: #F4841A;
    font-weight: bold;
}
#nav_menu ul {
    list-style: none;
    position: relative;
    padding: 0;
    margin: 0 ;
}
#nav_menu ul li { 
    float: left;
    width: 20%;
}
#nav_menu ul li a{
    color: #ECBD8B;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: block;
    padding: 1em 0;
    background-color: #004C56;
    /*border-right: 2px solid black;*/
}
#nav_menu ul ul {
    display: none;
    position: absolute;
    top: 100%;
    width: 100%;
}
#nav_menu ul ul li { float: none;}
#nav_menu ul li a:hover{background-color: #9BA9A9;}
#nav_menu ul li:hover > ul {
    display: block;
}
#nav_menu > ul::after {
   content: "";
   display: block;
   clear: both;
}

footer{
    border-top: 3px solid black;
    background-color: #004C56;
    color: white;
}
footer p{
    text-align: right;
}